{% extends "base.html" %}
{% block header %}
  <script type="text/javascript" src="/s/app.js"></script>
{% endblock %}
{% block content %}
  <div id="nowplaying" class="strong">
    Reading {{username}}'s scrobble data...
  </div>
  <div class="hidden">
    <div id="username">{{username}}</div>
    <div id="last_scrobbled_track_id"></div>
    <div id="history"></div>
    <div id="debug"></div>
    <div id="title1"></div>
    <div id="title2"></div>
  </div>
{% endblock %}

{% block other %}
  <object id="youtube">
    <param name="movie" value="https://www.youtube.com/apiplayer?version=3&enablejsapi=1&modestbranding=1&showinfo=0"></param>   
    <param name="allowScriptAccess" value="always"></param>
    <embed id="youtubeplayer" src="https://www.youtube.com/apiplayer?version=3&enablejsapi=1&modestbranding=1&showinfo=0" type="application/x-shockwave-flash" allowscriptaccess="always" width="640" height="390"></embed>
  </object>
{% endblock %}


